apscheduler
bing-image-urls
gTTS
googlesearch-python
deep_translator
pyfiglet
lexica-api
MukeshAPI
telegraph
uuid
git+https://github.com/Vivekkumar-IN/TheApi@main
mpv
wget
gpytranslate
phonenumbers
pydub
SpeechRecognition
nekos.py
SafoneAPI
