apscheduler
gTTS
googlesearch-python
deep_translator
pyfiglet
lexica-api
MukeshAPI
uuid
mpv
wget
gpytranslate
phonenumbers
pydub
SpeechRecognition
nekos.py
git+https://github.com/Vivekkumar-IN/TheApi@main
